body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body.active {
    overflow: hidden;
    z-index: -1;
}

.sidenav {
  height: 100%;
  min-height: 800px;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-circle {
    overflow: hidden;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0 0 20px;
}

.sidenav-circle img {
    width: 200px;
    height: 200px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  margin: 0 0 0 -10px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#main {
    margin-left: 250px;
    padding: 0px 10px;
    height: 100vh;
    min-height: 700px;
}

#footer {
    height: 100px;
    text-align: center;
}

.top {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.copyright {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #74808a;
}

.top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #b9bfc4;
    text-align: center;
}

.top i {
    color: #74808a;
}

.social {
    margin: 20px 0 0 0;
    display: flex;
}

.social a {
    display: block;
    color: #74808a;
    padding: 20px;

}

.social a:hover {
    color:#fff;
}

.btn-rounded {
    display: inline-block;
    background-color: black;
    color: #787878;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    transition: .5s ease all;
}

.btn-rounded:hover {
    color:#fff;
    text-decoration: none;
}

.btn-rounded:focus {
    text-decoration: none;
    color: #fff;
}

.shadow { 
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)
}

.shadow-large {
    box-shadow: 0 3px 6px rgba(0,0,0,0.08),0 3px 6px rgba(0,0,0,0.15);
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.heading:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #3498db;
}

.background-alt {
    background: #f2f2f5;
}

#top {
    border-bottom: 1px solid #b9bfc4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-bg {
    background-image: url("../images/lead-bg.jpg");
    background-size: 100% 100%;
    opacity: 30%;
    /* width: 100%;
    height: 100%; */
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
}

#top-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    
#top-content h1{
    /* color: #fff; */
    font-weight: 900;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.6em
}

#top-content h2 {
    /* color: #a0cfee; */
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 15px
}

.section {
    min-height: 700px;
    min-width: 800px;
    height: 100vh;
}

#about {
    padding: 75px 15px;
    border-bottom: 1px solid #dcd9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* text-align: left; */
}

#about h2 {
    color:#374054
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%; 
}

#about p {
    color: #74808a;
    text-align: center;
    line-height: 150%;
    letter-spacing: 0.5px;
}

#projects {
    padding: 40px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
    height: 100%;
    min-height: 700px;
}

#projects h2 {
    color: #374054;
    margin-bottom: 25px;
}

.project {
    position: relative;
    max-width: 900px;
    margin: 0 auto 20px auto;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;

}

.project-image {
    float: left;
    height: 150px;
}

.project-image img {
    height: 150px;
    width: 250px;
}

.project-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 25px 0 275px;
    padding: 10px;
}

.project-info h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    margin:0 0 15px 0;
}

.project-info p {
    color: #74808a;
    margin: 0 0 15px 0;
    font-size: 0.9em;
}

.no-image .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    transform: none;
}

#more-projects { 
    display: none;
}

#skills {
    padding: 50px 15px;
    text-align: center;
}

#skills h2 {
    color: #374054;
    margin-bottom: 50px;
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #374054;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
}

.contact-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #3498db;
    text-align: center;
    padding: 50px 15px;
    height: calc(100% - 100px);
}

#contact h2 {
    margin:0 0 30px 0;
    color:#fff;
    /* font-weight: 500 */
}

#contact-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

#contact-form input,#contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background:#1d6fa5;
    color: #fff;
    transition: .5s ease all
}

#contact-form input::-webkit-input-placeholder,#contact-form textarea::-webkit-input-placeholder {
    color:#fff;
}

#contact-form input:-moz-placeholder,#contact-form textarea:-moz-placeholder {
    color:#fff;
    opacity: 1;
}

#contact-form input::-moz-placeholder,#contact-form textarea::-moz-placeholder {
    color:#fff;
    opacity: 1;
}

#contact-form input:-ms-input-placeholder,#contact-form textarea:-ms-input-placeholder {
    color:#fff;
}

#contact-form input:focus,#contact-form textarea:focus {
    outline: none;
    background: #16527a;
}

#contact-form textarea {
    height: 200px;
    resize:none
}

#contact-form button {
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #3498db;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    transition: .5s ease all
}

#contact-form button:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23)
}

@media only screen and (max-width: 992px) {
    #top {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px;
    }
    
    #top-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto;
    }
    
    #top-content h1 {
        font-size: 3em;
    }
    
    #top-content h2 {
        font-size: 1.75em;
    }
    
    #about { 
        text-align: center;
    }
    
    #about p {
        text-align: left;
    }
}

@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%;
    }
    
    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
    }
    
    #menu li {
        display: block;
        margin-bottom: 10px;
    }
    
    #top-content h1 {
        font-size: 2em;
    }
    
    #top-content h2 {
        font-size: 1.3em;
    }
    
    #top-content a {
        padding: 10px 20px;
    }
    
    .project-image {
        display: none;
    }
    
    .project-info {
        position: relative;
        margin:0; 
        padding: 10px 15px;
        top: auto;
        transform: none;
    }
        
    .social {
        text-align: center;
    }

    .section {
        min-width: 500px;
    }

}

@media only screen and (max-width: 480px) {
    #top-content h1 {
        font-size: 1.5em;
    }
    
    #top-content h2 {
        font-size: 1em;
    }
    
    #top-content a {
        font-size: 0.9em;
        padding: 5px 10px
    }
}

.slide-navigation {
    display: none;
}

